:root {
  --main-font: "Inter";
}
body {
  font-family: var(--main-font);
}
/* general classes */

.btn {
  font-weight: 600;
  padding: 12px 30px;
  border-radius: 30px;
  color: #ffffff;
  background: #2f2f2f;
  border-color: #2f2f2f;
}
/* navbar styles */
.navbar {
  background-color: #3b5d50;
}
.navbar .navbar-brand {
  font-size: 32px;
}
.navbar .navbar-brand span {
  opacity: 0.4;
}
.navbar .nav-item {
  margin: 0 15px;
}
.navbar .nav-item .nav-link {
  font-size: 14px;
  color: white;
  opacity: 0.55;
  transition: all 0.3s ease;
  position: relative;
}
.navbar .nav-link.active {
  opacity: 1;
}
.nav-icons i {
  font-size: 18px;
}
.nav-icons li:first-child {
  margin: 0 20px;
}
.navbar .nav-link:hover {
  opacity: 1;
}
@media (min-width: 1000px) {
  .navbar-nav li a.nav-link:before,
  .navbar-nav li a.active:before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 8px;
    right: 8px;
    background: #f9bf29;
    height: 5px;
    visibility: hidden;
    transition: 0.15s all ease-out;
  }
  .navbar-nav li a.active:before {
    visibility: visible;
  }

  .navbar .nav-link:hover:before {
    visibility: visible;
    opacity: 1;
  }
}

/* hero section styles */

.hero {
  background-color: #3b5d50;
}
.hero p {
  color: rgba(255, 255, 255, 0.5);
  font-size: 14px;
}
.hero-btn .shop_now-btn {
  color: #2f2f2f;
  background-color: #f9bf29;
  border-color: #f9bf29;
}
.hero-btn .btn-transparent {
  color: white;
  background-color: transparent;
  border-color: rgba(255, 255, 255, 0.3);
  border-width: 2px;
}
.hero-btn .btn-transparent:hover{
    border-color: white;
}