:root {
  --main-font: "Inter";
  --custom-gray-color: #2f2f2f;
  --custom-green-color: #3b5d50;
}
body {
  font-family: var(--main-font);
  font-weight: 400;
  line-height: 28px;
  color: #6a6a6a;
  font-size: 14px;
  background-color: #eff2f1;
}
a {
  text-decoration: none;
  transition: 0.3s all ease;
  color: var(--custom-gray-color);
}
/* general classes */
.gray-title {
  color: var(--custom-gray-color);
}
.green-text {
  color: var(--custom-green-color);
}
.btn {
  font-weight: 600;
  padding: 12px 30px;
  border-radius: 30px;
  color: #ffffff;
  background: var(--custom-gray-color);
  border-color: var(--custom-gray-color);
}
.btn:hover {
  color: #ffffff;
  background: #222222;
  border-color: #222222;
}
/* navbar styles */
.navbar {
  background-color: var(--custom-green-color);
}
.navbar .navbar-brand {
  font-size: 32px;
}
.navbar .navbar-brand span {
  opacity: 0.4;
}
.navbar .nav-item {
  margin: 0 15px;
}
.navbar .nav-item .nav-link {
  color: white;
  opacity: 0.55;
  transition: all 0.3s ease;
  position: relative;
}
.navbar .nav-link.active {
  opacity: 1;
}
.nav-icons i {
  font-size: 18px;
}
.nav-icons li:first-child {
  margin: 0 20px;
}
.navbar .nav-link:hover {
  opacity: 1;
}
@media (min-width: 1000px) {
  .navbar-nav li a.nav-link:before,
  .navbar-nav li a.active:before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 8px;
    right: 8px;
    background: #f9bf29;
    height: 5px;
    visibility: hidden;
    transition: 0.15s all ease-out;
    width: 0%;
  }
  .navbar-nav li a.active:before {
    visibility: visible;
    opacity: 1;
    width: calc(100% - 16px); /* عشان اليسار واليمين 8px */
  }

  .navbar .nav-link:hover:before {
    visibility: visible;
    opacity: 1;
    width: calc(
      100% - 16px
    ); /* عشان اليسار واليمين 8px */ /* ال8 هدول ديفولت بادينج للينك*/
  }
}

/* hero section styles */

.hero {
  background-color: var(--custom-green-color);
}
.hero p {
  color: rgba(255, 255, 255, 0.5);
}
.hero-btn .shop_now-btn {
  color: var(--custom-gray-color);
  background-color: #f9bf29;
  border-color: #f9bf29;
}
.hero-btn .btn-transparent {
  color: white;
  background-color: transparent;
  border-color: rgba(255, 255, 255, 0.3);
  border-width: 2px;
}
.hero-btn .btn-transparent:hover {
  border-color: white;
}
/* product section styles */
.product-section {
  padding: 7rem 0;
}
.product-section .product-name {
  color: var(--custom-gray-color);
}
.product-section .price {
  color: var(--custom-gray-color);
  font-size: 18px;
  font-weight: 800;
}
.product-item,
.product-image,
.plus-icon {
  transition: all 0.3s ease;
}
.product-item .plus-icon {
  width: 35px;
  height: 35px;
  background-color: var(--custom-gray-color);
  border-radius: 50%;
  opacity: 0;
}
/* when hovering over the item -> the icon moves from its original position 20px down */
.product-section .product-item:hover .plus-icon {
  transform: translateY(15px);
  opacity: 1;
}
.product-section .product-item:hover .product-image {
  transform: translateY(-10px); /*عشان الصورة ترتفع لفوق*/
}

.product-section .product-item:before {
  bottom: 0;
  left: 0;
  right: 0;
  position: absolute;
  content: "";
  background: #dce5e4;
  /* height: 0%; */
  /* بدل الارتفاع ضفت السطرين الي تحت عشان اخف على المتصفح واسرع */
  transform: scaleY(0);
  transform-origin: bottom; /* حددت نقطة الارتكاز عشان يبلش العنصر يكبر من الاسفل */
  z-index: -1;
  border-radius: 10px;
  transition: 0.3s all ease;
}

.product-section .product-item:hover:before {
  height: 70%;
  transform: scaleY(1);
}

/* popular-products section styles */
.popular-products .product-image {
  margin-right: 10px;
  flex: 0 0 120px;
}
.popular-products .product-image::before {
  content: "";
  width: 98px;
  height: 98px;
  background-color: #dce5e4;
  position: absolute;
  border-radius: 20px;
  z-index: -1;
  top: 12px;
  right: 12px;
}
.popular-products .product-name {
  color: var(--custom-gray-color);
  font-size: 14px;
}
.popular-products .product-description {
  line-height: 1.4;
  margin-bottom: 10px;
  font-size: 14px;
}
.popular-products .product-description a {
  color: var(--custom-gray-color);
}

/* Testimonials section */

.customer-review {
  line-height: 32px;
  font-size: 16px;
}
.testimonials .customer-info img {
  width: 80px;
  border-radius: 50%;
  margin-bottom: 20px;
}
.customer-info h3 {
  font-size: 14px;
  color: var(--custom-gray-color);
  margin-bottom: 0;
}
.carousel-indicators {
  bottom: -40px;
}
.carousel-indicators [data-bs-target] {
  height: 7px;
  width: 7px;
  border-radius: 50%;
  transition: 0.3s all ease;
  background-color: #d6d6d6;
}
.carousel-indicators .active {
  background-color: var(--custom-green-color);
}
.carousel-control-next,
.carousel-control-prev {
  width: 58px;
  height: 58px;
  top: 50%;
  border-radius: 50%;
  background-color: rgba(59, 93, 80, 0.1);
  color: var(--custom-gray-color);
  opacity: 1;
  transition: all 0.3s ease;
}
.carousel-control-next:hover,
.carousel-control-prev:hover {
  background-color: var(--custom-green-color);
  color: #ffffff;
}
.carousel-control-next-icon,
.carousel-control-prev-icon {
  width: 16px;
}

.carousel-control-next span,
.carousel-control-prev span {
  background-image: none; /* إلغاء الافتراضي */
}

/* blogs section */

.blogs .more-blogs {
  color: var(--custom-gray-color);
  text-decoration: underline;
  transition: all 0.3s ease;
}
.blogs .more-blogs:hover {
  text-decoration: none;
}
.blog-item img {
  border-radius: 20px;
  transition: all 0.3s ease;
}
.blog-item img:hover {
  opacity: 0.7;
}

/* footer section */
.footer {
  padding: 7rem 0;
  background-color: white;
}
.footer .sofa-image {
  position: absolute;
  top: -200px;
  right: 0;
}
.footer .sofa-image img {
  max-width: 380px;
}
.footer .subscription_form {
  z-index: 2;
}
.footer .subscription_form h3 {
  font-size: 18px;
}
.footer .subscription_form h3 i {
  color: #6a6a6a80;
}
.footer .subscription_form .form-control,
.contactUs .form-control
{
  border-radius: 10px;
  height: 50px;
  font-family: var(--main-font);
  font-size: 14px;
}
.footer .subscription_form .form-control:focus,
.contactUs .form-control:focus
{
  outline: none;
  border-color: var(--custom-green-color);
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.2);
}
.footer .subscription_form .subscribe-btn {
  border-radius: 10px;
  background-color: var(--custom-green-color);
  border-color: var(--custom-green-color);
}
.footer .subscription_form .subscribe-btn:hover {
  background: #314d43;
  border-color: #314d43;
}
.footer .footer-logo .footer-brand {
  font-size: 32px;
}
.footer .social-icons li a {
  background: #dce5e4;
  border-radius: 50%;
  padding: 12px;
}
.footer .social-icons li a:hover {
  background: var(--custom-green-color);
  color: #ffffff;
}
@media screen and (min-width: 1000px) {
  .footer .footer-right {
    margin-top: 54px;
  }
}

.footer .footer-links li {
  margin-bottom: 10px;
}
.footer .footer-links li a {
  color: var(--custom-gray-color);
}

/* contact us section */
.contact-info i {
  background-color: var(--custom-green-color);
  width: 50px;
  height: 50px;
  border-radius: 10px;
  line-height: 50px;
  aspect-ratio: 1;
}
.contactUs-form textarea {
  min-height: 100px;
}
.contactUs .submit-btn{
  opacity: 0.9;
  transition: all 0.3s ease;
}
.contactUs .submit-btn:hover{
  opacity: 1;
}
.contactUs .submit-btn:focus {
  background-color: var(--custom-gray-color);
  color: #ffffff;
}